name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 13.221.64.172
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/cloud-cost-aware-pipeline
            git pull

            # Run cost calculation before deployment
            python3 cost_check.py

            docker stop $(docker ps -q) || true
            docker rm $(docker ps -aq) || true
            docker run -d -p 80:80 -v $(pwd):/usr/share/nginx/html nginx
